* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.seccion_inicio {
    background-color: #D9D9D9;
    height: 100vh;
    padding: 0 8vw;
    color: #6E6E6E;
}

.seccion_inicio .cabecera {
    display: flex;
    justify-content: space-between;
    align-items: end;
}   

.seccion_inicio .cabecera .logo {
    display: flex;
    align-items: end;
}

.seccion_inicio .cabecera .logo img{
    height: 157px;
}

.seccion_inicio .cabecera .logo p{
    font-size: 24px;
    color: #00b2e3;
    line-height: 39.06px;
}

.seccion_inicio .cabecera .logo p strong{ 
    font-size: 32px;
    color: #6E6E6E;
}

.seccion_inicio .cabecera .menu ul{
    display: grid;
    gap: 20px;
    grid-template-columns: 100px 100px 190px 150px 120px;
}

.seccion_inicio .cabecera .menu ul li{
    list-style: none;
}

.seccion_inicio .cabecera .menu ul li a{
    color: #6E6E6E;
    text-decoration: none;
    font-size: 24px;
    align-items: center;
    letter-spacing: 1.9px;
}

.seccion_inicio .cabecera .menu ul li a:hover {
    color: #00b2e3;
    font-weight: bold;
    letter-spacing: -.2px;
}

.seccion_inicio .inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 790px;
    gap: 100px;
}

.seccion_inicio .inicio h1{
    font-size: 96px;
    line-height: 117.19px;
}

.seccion_inicio .inicio h2{
    font-size: 40px;
}

.seccion_inicio .inicio h2 span{ 
    color: #00b2e3;
    line-height: 48.83px;
}

.seccion_inicio .inicio button {
    width: 258px;
    height: 77px;
    font-size: 32px;
    color: white;
    background-color: #00b2e3;
    border: 0px ;
    border-radius: 14px;
    margin-right: 20px  ;
}

.principal {
    margin: 142.93px;
}

.principal h2{
    font-size: 80px;
    line-height: 117.19px;
    text-align: left;
    color: #6E6E6E;
}

.principal .cursos {
    margin: 100px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(4,200px);
    gap: 50px;
}

.principal p{
    color: white;
    font-size: 18px;
    margin: 10px;
}

.principal .cursos div{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    border-radius: 19px;
}

.principal .cursos div:nth-child(1){
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(img/TÉCNICO\ SUPERIOR\ EN\ MARKETING\ Y\ PUBLICIDAD\ 2.png);
}

.principal .cursos div:nth-child(2){
    grid-row: span 2;
    background-image: url(img/TÉCNICO\ SUPERIOR\ EN\ MARKETING\ Y\ PUBLICIDAD\ 3.png);
}

.principal .cursos div:nth-child(3){
    grid-column: span 2;
    background-image: url(img/TÉCNICO\ SUPERIOR\ EN\ MARKETING\ Y\ PUBLICIDAD\ 4.png);
}

.principal .cursos div:nth-child(4){
    background-image: url(img/TÉCNICO\ SUPERIOR\ EN\ MARKETING\ Y\ PUBLICIDAD\ 9.png);
}

.principal .cursos div:nth-child(5){
    background-image: url(img/TÉCNICO\ SUPERIOR\ EN\ MARKETING\ Y\ PUBLICIDAD\ 7.png);
}

.principal .cursos div:nth-child(6){
    grid-column: span 2;
    background-image: url(img/TÉCNICO\ SUPERIOR\ EN\ MARKETING\ Y\ PUBLICIDAD\ 8.png);
}

.pie{
    background-color: #D9D9D9;
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pie ul {
    display: flex;
    gap: 40px;
}

.pie ul li{
    list-style: none;
}

.pie p,a {
    font-size:20px;
    color: #6E6E6E;
}